@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  background-image: url(images/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  max-width: auto;
}

.navbar {
  padding: 20px 40px 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-family: var(--secondary-font);
  color: white;
  font-size: 25px;
}

.link {
  font-family: var(--primary-font);
}

.link a {
  margin: 10px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.web-description {
  /* background-color: brown; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 30px 70px;
}

.description {
  /* background-color: blue; */
  max-width: 30%;
}

.description h1 {
  color: white;
  font-family: var(--secondary-font);
  font-size: 55px;
}

.description p {
  color: white;
  font-family: var(--primary-font);
  font-size: 14px;
}

.button-service {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description h1,
p,
.button-service {
  margin: 10px;
}

.button-service button {
  color: white;
  font-family: var(--primary-font);
  background-color: aqua;
  border: none;
  border-radius: 20px;
  width: 80px;
  height: 30px;
  cursor: pointer;
}

.illustration {
  /* background-color: aqua; */
  max-width: 50%;
  /* background-image: url(images/illustration.jpg); */
}

.illustration img {
  width: 600px;
}

.illustration,
.description {
  margin: 10px;
}

.link a:hover {
  color: blueviolet;
}

.button-service button:hover {
  color: black;
  background-color: blue;
}

.about {
  color: white;
  max-width: 700px;
  position: absolute;
  top: 100px;
  right: 100px;
  align-items: center;
  font-family: var(--primary-font);
}

.about-content {
  display: flex;
  flex-direction: column;
}

.about-content h1 {
  text-align: center;
  text-transform: uppercase;
}

.contact {
  display: flex;
  position: absolute;
  bottom: 0px;
  color: white;
  background-color: black;
  width: 100%;
  font-family: var(--primary-font);
}

.contact h2 {
  text-transform: capitalize;
  font-size: 30px;
}

.contact-link {
  max-width: 600px;
  margin: 10px 0px 10px 20px;
}

.contact-link img {
  margin: 5px;
  width: 30px;
}

.contact-link p {
  margin-top: 40px;
}

.contact-detail {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 20px 300px;
}

.contact-detail img {
  width: 25px;
}

.contact-detail h3 {
  font-size: 18px;
}

.contact-detail p {
  font-size: 12px;
}

.phone {
  margin-top: 20px;
}
